@charset "UTF-8";

.filestyler_image {
    font-size: 120px;
}

.filestyler_image .filestyler__list {
    margin-right: -0.05em;
    margin-bottom: -0.05em;
    overflow: hidden;
}

.filestyler_image .filestyler__item {
    position: relative;
    float: left;
    min-width: 0.25em;
    max-width: 2em;
    height: 1em;
    margin-right: 0.05em;
    margin-bottom: 0.05em;
}

.filestyler_image .filestyler__item:hover .filestyler__info, .filestyler_image .filestyler__item:hover .filestyler__remove, .filestyler_image .filestyler__item:focus .filestyler__info, .filestyler_image .filestyler__item:focus .filestyler__remove {
    visibility: visible;
    opacity: 1;
}

.filestyler_image .filestyler__item_is-no-image {
    width: 1em;
    border: solid 2px #ccc;
}

.filestyler_image .filestyler__item_is-no-image:before {
    content: ' ';
    position: absolute;
    left: 5%;
    top: 5%;
    right: 5%;
    bottom: 40%;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MiIgaGVpZ2h0PSIxMDAiIHZpZXdCb3g9IjkgMCA4MiAxMDAiPjxwYXRoIGZpbGw9IiNDQ0NDQ0MiIGQ9Ik05MC4xODYsMjIuNzc3TDY3Ljk2MywwLjU1NUM2Ny41OTIsMC4xODYsNjcuMjIzLDAsNjYuNjY2LDBIMTEuMTEyQzEwLDAsOS4yNiwwLjc0MSw5LjI2LDEuODUydjk2LjI5NkM5LjI2LDk5LjI1OSwxMCwxMDAsMTEuMTEyLDEwMGg3Ny43NzdjMS4xMTEsMCwxLjg1Mi0wLjc0MSwxLjg1Mi0xLjg1MlYyNC4wNzRDOTAuNzQsMjMuNTE5LDkwLjU1NywyMy4xNDgsOTAuMTg2LDIyLjc3N3ogTTY4LjUxOCw2LjI5NmwxNS45MjYsMTUuOTI2SDY4LjUxOFY2LjI5NnogTTEyLjk2Myw5Ni4yOTZWMy43MDRoNTEuODUxdjIwLjM3MWMwLDEuMTExLDAuNzQyLDEuODUyLDEuODUyLDEuODUyaDIwLjM3MXY3MC4zN0gxMi45NjN6Ii8+PC9zdmc+DQo=) no-repeat scroll center center;
    background-size: contain;
}

.filestyler_image .filestyler__item_is-image .filestyler__info {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
}

.filestyler_image .filestyler__item_pause .filestyler__figure, .filestyler_image .filestyler__item_progress .filestyler__figure {
    opacity: 0.5;
}

.filestyler_image .filestyler__item_done .filestyler__progress {
    display: none;
}

.filestyler_image .filestyler__item_fail .filestyler__figure:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(204, 34, 34, 0.5) url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBmaWxsPSIjRkZENTVDIiBkPSJNMzAuNzg4LDI3LjIyNUwxNy43NjcsMi44MTdjLTAuMzc0LTAuNjc4LTEuMDUxLTEuMDU1LTEuODA1LTEuMDU1Yy0wLjc1NSwwLTEuNDM2LDAuNDUyLTEuODE2LDEuMTNMMS4yMjIsMjcuMjk5Yy0wLjMwNSwwLjYwNC0wLjMwOCwxLjQzMiwwLjA2NywyLjAzNWMwLjM3NSwwLjYwMiwwLjk3NywwLjkwNCwxLjczMSwwLjkwNGgyNS45NDRjMC43NTMsMCwxLjQzNC0wLjM3NywxLjczOS0wLjk3OUMzMS4wODIsMjguNjU2LDMxLjA4NiwyNy45MDIsMzAuNzg4LDI3LjIyNSIvPjxwYXRoIGZpbGw9IiMwMDAiIGQ9Ik0xNS45OTgsMjUuNTk4Yy0wLjkwNiwwLTEuNjQzLTAuNzM2LTEuNjQzLTEuNjQyczAuNzM3LTEuNjQyLDEuNjQzLTEuNjQyYzAuOTA1LDAsMS42NDIsMC43MzYsMS42NDIsMS42NDJTMTYuOTAzLDI1LjU5OCwxNS45OTgsMjUuNTk4eiBNMTUuOTk4LDIxLjAyOWMtMC45MDYsMC0xLjY0My0wLjczNS0xLjY0My0xLjYzOXYtNi44NTdjMC0wLjkwNCwwLjczNy0xLjYzOSwxLjY0My0xLjYzOWMwLjkwNSwwLDEuNjQyLDAuNzM1LDEuNjQyLDEuNjM5djYuODU3QzE3LjY0LDIwLjI5NCwxNi45MDMsMjEuMDI5LDE1Ljk5OCwyMS4wMjl6Ii8+PC9nPjwvc3ZnPg0K) no-repeat scroll center center;
    background-size: contain;
}

.filestyler_image .filestyler__figure {
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent no-repeat scroll center center;
    background-size: cover;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.filestyler_image .filestyler__image {
    max-width: 100%;
    height: 100%;
    opacity: 0;
}

.filestyler_image .filestyler__remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    padding: 0;
    font-size: 0.2em;
    line-height: 1;
    color: #fff;
    background-color: #c22;
    border: none;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/*.filestyler_image .filestyler__remove:before {*/
/*content: '\0000D7'; }*/

.filestyler_image .filestyler__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.4em 0.8em;
    font-size: 13px;
    /*font-size: 0.8125rem;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.filestyler_image .filestyler__name, .filestyler_image .filestyler__size {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filestyler_image .filestyler__type {
    display: none;
}

.filestyler_image .filestyler__progress {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.filestyler_image .filestyler__progress-bar {
    width: 0;
    height: 2px;
    background-color: #f00;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.filestyler_image .filestyler__progress-perc {
    display: none;
}

.filestyler_image.filestyler_uninitialized .filestyler__plus {
    margin-right: 0.05em;
    margin-bottom: 0.05em;
}

.filestyler_image.filestyler_initialized .filestyler__clear, .filestyler_image.filestyler_initialized .filestyler__plus {
    float: left;
    display: block;
    overflow: hidden;
    width: 1em;
    height: 1em;
    margin-right: 0.05em;
    margin-bottom: 0.05em;
    text-align: center;
    color: #ccc;
    background-color: transparent;
    border: solid 2px;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.filestyler_image.filestyler_initialized .filestyler__clear:before, .filestyler_image.filestyler_initialized .filestyler__plus:before {
    display: inline-block;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 0.5em;
    line-height: 2;
}

.filestyler_image.filestyler_initialized .filestyler__clear {
    width: 0.5em;
}

.filestyler_image.filestyler_initialized .filestyler__clear:hover, .filestyler_image.filestyler_initialized .filestyler__clear:focus {
    color: #c22;
}

.filestyler_image.filestyler_initialized .filestyler__clear:before {
    content: '«';
    line-height: 1.8;
}

.filestyler_image.filestyler_initialized .filestyler__plus:hover, .filestyler_image.filestyler_initialized .filestyler__plus:focus {
    color: #393;
}

.filestyler_image.filestyler_initialized .filestyler__plus:before {
    content: '+';
}

.filestyler_image.filestyler_empty .filestyler__clear {
    display: none;
}

.filestyler_list .filestyler__list {
    display: inline-block;
    max-width: 100%;
}

.filestyler_list .filestyler__item {
    position: relative;
    margin-top: 0.5em;
    padding-right: 2em;
}

.filestyler_list .filestyler__item:first-child {
    margin-top: 0;
}

.filestyler_list .filestyler__item_pause .filestyler__info, .filestyler_list .filestyler__item_progress .filestyler__info {
    opacity: 0.33;
}

.filestyler_list .filestyler__item_done .filestyler__progress {
    display: none;
}

.filestyler_list .filestyler__item_fail .filestyler__info {
    color: #c22;
}

.filestyler_list .filestyler__figure {
    display: none;
}

.filestyler_list .filestyler__remove {
    position: absolute;
    right: 0;
    top: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    padding: 0;
    font-size: 1.5em;
    line-height: 1;
    color: #c22;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filestyler_list .filestyler__remove:before {
    content: '\0000D7';
    font-family: Arial, sans-serif;
}

.filestyler_list .filestyler__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    white-space: nowrap;
}

.filestyler_list .filestyler__info:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    font-size: 1.25em;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MiIgaGVpZ2h0PSIxMDAiIHZpZXdCb3g9IjkgMCA4MiAxMDAiPjxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik05MC4xODYsMjIuNzc3TDY3Ljk2MywwLjU1NUM2Ny41OTIsMC4xODYsNjcuMjIzLDAsNjYuNjY2LDBIMTEuMTEyQzEwLDAsOS4yNiwwLjc0MSw5LjI2LDEuODUydjk2LjI5NkM5LjI2LDk5LjI1OSwxMCwxMDAsMTEuMTEyLDEwMGg3Ny43NzdjMS4xMTEsMCwxLjg1Mi0wLjc0MSwxLjg1Mi0xLjg1MlYyNC4wNzRDOTAuNzQsMjMuNTE5LDkwLjU1NywyMy4xNDgsOTAuMTg2LDIyLjc3N3ogTTY4LjUxOCw2LjI5NmwxNS45MjYsMTUuOTI2SDY4LjUxOFY2LjI5NnogTTEyLjk2Myw5Ni4yOTZWMy43MDRoNTEuODUxdjIwLjM3MWMwLDEuMTExLDAuNzQyLDEuODUyLDEuODUyLDEuODUyaDIwLjM3MXY3MC4zN0gxMi45NjN6Ii8+PC9zdmc+DQo=) no-repeat scroll center center;
    background-size: contain;
}

.filestyler_list .filestyler__name, .filestyler_list .filestyler__size {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.filestyler_list .filestyler__size {
    margin-left: 0.5em;
    padding-top: 0.125em;
    font-size: 0.875em;
    color: #aaa;
}

.filestyler_list .filestyler__size:before {
    content: '(';
}

.filestyler_list .filestyler__size:after {
    content: ')';
}

.filestyler_list .filestyler__type {
    display: none;
}

.filestyler_list .filestyler__progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.filestyler_list .filestyler__progress-bar {
    width: 0;
    height: 100%;
    background-color: #ddd;
}

.filestyler_list .filestyler__progress-perc {
    display: none;
}

.filestyler_list.filestyler_initialized .filestyler__plus, .filestyler_list.filestyler_initialized .filestyler__clear {
    display: inline-block;
    vertical-align: middle;
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.5em;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.25;
    text-align: center;
    color: #ccc;
    background-color: transparent;
    border: solid 2px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
}

.filestyler_list.filestyler_initialized .filestyler__plus:hover, .filestyler_list.filestyler_initialized .filestyler__plus:focus, .filestyler_list.filestyler_initialized .filestyler__clear:hover, .filestyler_list.filestyler_initialized .filestyler__clear:focus {
    color: black;
}

.filestyler_list.filestyler_initialized .filestyler__plus:before, .filestyler_list.filestyler_initialized .filestyler__clear:before {
    font-family: Arial, sans-serif;
    vertical-align: top;
}

.filestyler_list.filestyler_initialized .filestyler__plus {
    color: #393;
}

.filestyler_list.filestyler_initialized .filestyler__plus:before {
    content: '+';
}

.filestyler_list.filestyler_initialized .filestyler__clear {
    float: right;
    color: #c22;
}

.filestyler_list.filestyler_initialized .filestyler__clear:before {
    content: '«';
    line-height: 1.1;
}

.filestyler_list.filestyler_empty .filestyler__clear {
    display: none;
}

.filestyler__drop:before, .filestyler__drop:after {
    content: ' ';
    position: absolute;
    z-index: 50;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.filestyler__drop:after {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNjY2MiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNNC42NzksMTcuNTQ5bDkuNjQ0LDkuNjQ0YzAuMDExLDAuMDExLDAuMDE0LDAuMDI2LDAuMDI0LDAuMDM3YzAuNDU0LDAuNDUyLDEuMDUzLDAuNjc5LDEuNjUyLDAuNjc5czEuMTk4LTAuMjI0LDEuNjU0LTAuNjc5YzAuMDEtMC4wMTEsMC4wMTMtMC4wMjYsMC4wMjQtMC4wMzdsOS42NDUtOS42NDRjMC45MDMtMC45MDYsMC45MDMtMi4zODgsMC0zLjI5NGMtMC45MDgtMC45MDUtMi4zOS0wLjkwNS0zLjI5NSwwTDE2LDIyLjI4M2wtOC4wMjctOC4wMjhjLTAuOTA1LTAuOTA1LTIuMzg4LTAuOTA1LTMuMjk0LDBDMy43NzQsMTUuMTYxLDMuNzczLDE2LjY0Myw0LjY3OSwxNy41NDl6Ii8+PHBhdGggZD0iTTQuNjc5LDguMDY0bDkuNjQ0LDkuNjQ2YzAuMDExLDAuMDA5LDAuMDE0LDAuMDI0LDAuMDI0LDAuMDM1YzAuNDU0LDAuNDU1LDEuMDUzLDAuNjgsMS42NTIsMC42OHMxLjE5OC0wLjIyNCwxLjY1NC0wLjY4YzAuMDEtMC4wMTEsMC4wMTMtMC4wMjYsMC4wMjQtMC4wMzVsOS42NDUtOS42NDZjMC45MDMtMC45MDUsMC45MDMtMi4zODcsMC0zLjI5M2MtMC45MDgtMC45MDQtMi4zOS0wLjkwNS0zLjI5NSwwTDE2LDEyLjc5OUw3Ljk3Myw0Ljc3MWMtMC45MDUtMC45MDUtMi4zODgtMC45MDUtMy4yOTQsMEMzLjc3NCw1LjY3OCwzLjc3Myw3LjE1OSw0LjY3OSw4LjA2NHoiLz48L2c+PC9zdmc+DQo=) no-repeat scroll center center;
    background-size: contain;
}

.filestyler__drop_hint, .filestyler__drop_in {
    outline: dashed 1px #ccc;
}

.filestyler__drop_hint:before, .filestyler__drop_hint:after, .filestyler__drop_in:before, .filestyler__drop_in:after {
    visibility: visible;
    opacity: 1;
}

.filestyler__drop_hint:after, .filestyler__drop_in:after {
    opacity: 0.5;
}

.filestyler__drop_hint .filestyler__drop-input, .filestyler__drop_in .filestyler__drop-input {
    z-index: 100;
}

.filestyler__drop_in {
    outline: solid 1px;
}

.filestyler__drop_in:after {
    opacity: 1;
}
